.Hamburger{
    display: block;
    z-index: 100;
    margin: 1rem;
    padding: 1rem;
    border: none;
    outline: none;
    position: absolute;
    left: 0;
}

.Hamburger * {
    cursor: pointer;
}

.hamburgerButton {
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    line-height: .33rem;
    padding: 5px 3px 5px 3px;
    font-size: 20px;
}

.hamburgerButton:hover {
    background-color: #f1f1f1;
    color: white;
}

.hamburgerLine {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}